SchoolManagement.Client/SchoolManagement.Client/Connected Services/ClassServiceReference/ClassService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ClassService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57187/Services/ClassService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57187/Services/ClassService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57187/Services/ClassService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchoolManagement.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassService_AddClass_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_AddClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetAllClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClasses" />
  </wsdl:message>
  <wsdl:message name="IClassService_GetAllClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_UpdateClass_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_UpdateClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_DeleteClass_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClass" />
  </wsdl:message>
  <wsdl:message name="IClassService_DeleteClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClassResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassService">
    <wsdl:operation name="AddClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/AddClass" message="tns:IClassService_AddClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/AddClassResponse" message="tns:IClassService_AddClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/GetClass" message="tns:IClassService_GetClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/GetClassResponse" message="tns:IClassService_GetClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/GetAllClasses" message="tns:IClassService_GetAllClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/GetAllClassesResponse" message="tns:IClassService_GetAllClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/UpdateClass" message="tns:IClassService_UpdateClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/UpdateClassResponse" message="tns:IClassService_UpdateClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/DeleteClass" message="tns:IClassService_DeleteClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/DeleteClassResponse" message="tns:IClassService_DeleteClass_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassService" type="tns:IClassService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/AddClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/GetClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <soap:operation soapAction="http://tempuri.org/IClassService/GetAllClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/UpdateClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap:operation soapAction="http://tempuri.org/IClassService/DeleteClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassService">
    <wsdl:port name="BasicHttpBinding_IClassService" binding="tns:BasicHttpBinding_IClassService">
      <soap:address location="http://localhost:57187/Services/ClassService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>